body{
    font-family: 'Nova Flat', cursive;
    animation: 3000ms ease-in-out infinite color-change;
}


#head{
    text-align:center;
    animation: 3000ms ease-in-out infinite color-change;
}
  
@keyframes color-change {
  0% {
    background-color: teal;
  }
  50% {
    background-color: lightseagreen;
  }
  100% {
    background-color: teal;
  }
}

.fighterImg{
    height: 190px;
    object-fit: fill;
}

#BattleGround{
  background-image: url('../images/Ring.png');
  background-repeat: no-repeat;
  height:600px;

  background-size: 100% 500px;
}

#Img-Shift{
  position: relative;

  top: 100px;

}

.Img-Mirror{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.HP-Bar{
  background-color:green; 
  height:25px;
}